apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: simple-webapp-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/savagame/GitOps-At-Scale-Multitenancy.git
    targetRevision: staging
    path: ./effective-git-repository-strategies/environment-branches/simple-webapp/staging
    directory:
      recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: simple-webapp-staging
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
